@using ImageServiceWebApp.Models.Messages

@model ImageServiceWebApp.Models.DeletePhotoModel

@{
    ViewBag.Title = "DeletePhotoView";
}

<h2>Delete Photo</h2>

<br />
<h3>Are you sure you want to delete this photo?</h3>
<h4>Name: @Model.selectedPhoto.GetPhotoName()</h4>
<h4>Date: @Model.selectedPhoto.GetPhotoDate().Month/@Model.selectedPhoto.GetPhotoDate().Year</h4>

<img src="data:image/Bmp;base64,@Model.selectedPhoto.GetPhotoThumbnail()" width="@Settings.Instance.ThumbSize" height="@Settings.Instance.ThumbSize">
<br />
<br />

<p>
    <a href="@Url.Action("Delete")" class="btn btn-danger btn-xs" role="button">Delete</a>
    <a href="@Url.Action("Cancel")" class="btn btn-info btn-xs" role="button">Cancel</a>
</p>
