@model ImageServiceWebApp.Models.HomeModel

@{
    ViewBag.Title = "Home";
}

<h2>Image View</h2>

<br /><br />
<br />

<h4>@Html.DisplayNameFor(model => model.IsConnected): @Html.DisplayFor(model => model.IsConnected)</h4>
<h4>@Html.DisplayNameFor(model => model.NumOfPics): @Html.DisplayFor(model => model.NumOfPics)</h4>

<br /><br />
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].ID)
        </th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
        </tr>
    }
</table>