@model ImageServiceWebApp.Models.ConfirmModel

@{
    ViewBag.Title = "ConfirmView";
}

<h2>Confirm</h2>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.SelectedHandler)?</h3>

<a href="@Url.Action("Delete")" class="btn btn-info btn-xs" role="button">Delete</a>
<a href="@Url.Action("Cancel")" class="btn btn-danger btn-xs" role="button">Cancel</a>

<!--
<button type="button" id="btnOK" style="margin:10px">OK</button>
<button type="button" id="btnCancel" style="margin:10px">Cancel</button>
<script>
    $("#btnOK").click(function () {
        $.post("@Url.Action("Delete")");
    });

    $("#btnCancel").click(function () {
        $.post("@Url.Action("Cancel")");
    })
</script>
    -->
